[run]
branch = True
include =
    argparse_color_formatter.py
    tests.py

[report]
exclude_lines =
    if __name__ == '__main__':
    raise NotImplementedError
    if six.PY2:
    if PY2:
    except ImportError
